@media (max-width: 415px) {
  .dashboard-text {
    padding-top: 3%;
    margin-left: 5%;
    margin: 0 auto;
    font-weight: 700;
  }

  .dash {
    font-size: 1.5em;
  }

  .today {
    display: none;
  }

  .welcome-text {
    text-align: center;
    margin-left: 0 !important;
    padding: 10px 100px;
  }
  .welcome {
    padding-top: 25%;
    margin: 0 auto;
  }
  .dashboard-grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .balance {
    display: none;
  }
}
