.authImgSvg {
  width: 70%;
  margin-left: 10%;
  height: 40%;

  @media screen and (max-width: 480px) {
    display: none;
  }

  @media screen and (min-device-width: 480px) and (max-device-width: 768px) {
    margin-top: 5em;
  }

  @media screen and (min-width: 480px) and (max-width: 768px) {
    margin-top: 5em;
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    margin-top: 10%;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-top: 20%;
  }

  @media (min-width: 1400px) and (max-width: 1440px) {
    width: 80%;
  }
}

.eye {
  margin-left: -5%;
  width: calc(25px - 20%);
  cursor: pointer;
}
.logoSvg {
  background-color: #fdffef;

  @media screen and (max-device-width: 480px) {
    width: 10px;
  }
}

.blob {
  z-index: -255;
  position: absolute;
  top: 10%;
  width: 600px;
  height: 600px;
  @media screen and (max-width: 480px) {
    width: 375px;
    height: 400px;
    top: 50%;
    left: 0;
    right: 10;
  }

  @media screen and (min-device-width: 480px) and (max-device-width: 768px) {
    right: 0;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    right: 0;
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    right: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    right: 0;
  }
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  width: 25px;
  height: 25px;
  margin-left: 0.5em;

  & .path {
    stroke: white;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
