.authImgSvg {
  width: 80%;
  margin-left: 10%;
  object-fit: cover;
  height: 40%;
}

.eye {
  margin-left: -5%;
  width: 20%;
  cursor: pointer;
}
.logoSvg {
  background-color: #fdffef;
  margin-left: 3%;
}
