.authWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: Poppins;
}

.authImg {
  background-color: #fdffef;
}

.hot {
  text-align: center;
  margin-top: 4%;

  h3 {
    font-weight: 600;
    margin-bottom: 0;
  }

  p {
    font-size: larger;
  }
  p:last-child {
    margin-top: 3%;
    font-size: small;
  }
}

.authFormWrapper {
  h2 {
    margin-left: 10%;
    margin-top: 5%;
  }

  input {
    border: 0;
    border-bottom: 1px solid black;
    width: 80%;
    padding: 0.2em;
  }

  label {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 3em;
    margin-bottom: 0.5em;
  }
}

.authForm {
  margin-left: 10%;
}

.submitAuth {
  border: 0;
  background-color: #969f60;
  padding: 2% 35%;
  margin-top: 10%;
  color: white;
  font-weight: 600;
  font-size: 1.7em;
  border-radius: 15px;
}

.passwordInput {
  display: flex;
}

.switchAuth {
  text-align: center;
  margin-top: 5%;
  font-size: 1.2em;
}
